{{#if preview}}
  {{#each preview as |p|}}
    {{#if site.mobileView}}
      <div style={{border-color p.color}} class="category-list-item category {{p.className}}">
        <table class="topic-list">
          <tbody>
            <tr>
              <th class="main-link">
                <h3>
                  {{#if p.href}}
                    <a class="category-title-link" href={{p.href}}>
                      <div class="category-text-title">
                        {{#if (theme-setting 'locked_icon')}}
                          {{d-icon (theme-setting 'locked_icon')}}
                        {{/if}}
                        <span class="category-name">{{p.title}}</span>
                      </div>
                    </a>
                  {{else}}
                    <div class="category-text-title">
                      {{#if (theme-setting 'locked_icon')}}
                        {{d-icon (theme-setting 'locked_icon')}}
                      {{/if}}
                      <span class="category-name">{{p.title}}</span>
                    </div>
                  {{/if}}
                </h3>
              </th>
            </tr>
            <tr class="category-description">
              <td colspan="3">
                <div class="category-description">{{html-safe p.description}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{else if boxStyle}}
      <div style={{unless noCategoryStyle (border-color p.color)}} class="category category-box {{if noCategoryStyle "no-category-boxes-style"}} {{p.className}}">
        <div class="category-box-inner">
          <div class="category-logo">
            {{#if p.uploaded_logo.url}}
              {{cdn-img
                src=p.uploaded_logo.url
                class="logo"
                width=p.uploaded_logo.width
                height=p.uploaded_logo.height
                alt=""
              }}
            {{/if}}
          </div>
          <div class="category-details">
            <div class="category-box-heading">
              {{#if p.href}}
                <a class="parent-box-link" href={{p.href}}>
                  <h3>
                    {{#if (theme-setting 'locked_icon')}}
                      {{d-icon (theme-setting 'locked_icon')}}
                    {{/if}}
                    {{p.title}}
                  </h3>
                </a>
              {{else}}
                <h3>
                  {{#if (theme-setting 'locked_icon')}}
                    {{d-icon (theme-setting 'locked_icon')}}
                  {{/if}}
                  {{p.title}}
                </h3>
              {{/if}}
            </div>
            {{#if p.description}}
              <div class="description">
                {{html-safe p.description}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      <tr class={{p.className}}>
        <td colspan=2 class="category {{if noCategoryStyle "no-category-style"}}" style={{unless noCategoryStyle (border-color p.color)}}>
          <h3>
            {{#if p.href}}
              <a class="category-title-link" href={{p.href}}>
                <div class="category-text-title">
                  {{#if (theme-setting 'locked_icon')}}
                    {{d-icon (theme-setting 'locked_icon')}}
                  {{/if}}
                  <span class="category-name">{{p.title}}</span>
                </div>
              </a>
            {{else}}
              <div class="category-text-title">
                {{#if (theme-setting 'locked_icon')}}
                  {{d-icon (theme-setting 'locked_icon')}}
                {{/if}}
                <span class="category-name">{{p.title}}</span>
              </div>
            {{/if}}
          </h3>
          {{#if p.description}}
            <div class="category-description">{{html-safe p.description}}</div>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  {{/each}}
{{/if}}
